/* reset style code */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* beginning of my code */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

a {
    color: rgb(55, 5, 237);
    text-decoration: none;
}

.menu, .submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover, .item a:hover::after{
    color: #ccc;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 15px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button{
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item{
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

.submenu {
    display: none;
}

.submenu-active .submenu{
    display: block;
}

.has-submenu i{
    font-size: 12px;
}

.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: rgb(55, 5, 237);
    padding-left: 5px;
}

.subitem a{
    padding: 10px 15px;
}

.submenu-active {
    background-color: rgb(189, 162, 162);
    border-radius: 3px;
}

.wrap-content {
    padding-top: 80px;
    float: right;
    width: 20%;
}


/*responsive */

/* responsive navabar tablet*/
@media all and (min-width: 700px){
    nav {
        position:fixed;
        top: 0;
        width: 100%;
    }
    .menu{
        justify-content: center;
    }

    .logo{
        flex: 1;
    }

    .item.button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }

    .menu li.button a{
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a{
        background: #0080ff;
        border: 1px royalblue solid;
    }

    .button.secondary{
        border: 0;
    }

    .button.secondary a{
        background: transparent;
        border: 1px #0080ff solid;
    }
  
    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }

}


@media all and (min-width: 960px){
    .menu{
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo{
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button{
        order: 2;
    }

    .submenu-active .submenu{
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }

}
  
/*index styleing */
.index-banner {
    margin-top: 65px;
    width: 100%;
    height: calc (100vh - 100px);
    background-image: url(images/matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

/*styling login page*/
.wrap-content{
    margin-top: 5px;
    width: 100%;
    background-size: cover;
    display: table;
}

.wrap-content h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}

.wrap-content form {
    text-align: center;
    font-size: 30px;
    display: block;

}
input [type=text], textarea{
    width: 100%;
    padding: 12px;
    resize: vertical;
}
.container-fom {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/*end here*/

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.index-banner h2 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    font-family: catamaran;
    text-shadow: 2px 2px 8px #111;
}

.index-banner h1 {
    font-family: Cormorant Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px); 
    height: 100px;
    background-color: #f2f2f2;
}


.index-links div {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}


@media only screen and (min-width: 1000px){
    .wrapper {
        width: 1000px;
        margin: 0 auto;

    }
    .index-banner {
        height: 450px;
    }

    .index-banner h1 {
      display: block;
       width: 560px;
       margin: 0 auto;
    }

    .index-links {
        overflow: hidden;
    }

    .index-links div {
        margin: 20px 10px 0;
        height: 200px;
        background-color: #f2f2f2;
        float: left;
    }

    .index-boxlink-square {
        width: calc(25% - 20px) !important;

    }

    .index-boxlink-rectangle {
        width: calc(50% - 20px) !important; 

    }

    .index-links div h3 {
        line-height: 200px;
    }

}

/* Style the container with a rounded border, grey background and some padding and margin */

.testimonials {
    overflow: hidden;
    padding-top: 30px;
        margin: 0 auto;
}

.testimonials h2{
   text-align: center;
   text-transform: uppercase;
}
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
  }
  
  /* Clear floats after containers */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Float images inside the container to the left. Add a right margin, and style the image as a circle */
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Increase the font-size of a span element */
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    
    .container {
      text-align: center;
    }
  
    .container img {
      margin: auto;
      float: none;
      display: block;
    }
  }
  
  
  
* {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  
  
  

/*cases*/

.cases-links {
overflow: hidden;
margin-top: 65px;
margin-bottom: 20px;

}


.cases-links h2 {
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
}

.cases-links .cases-link {
   float: left;
   width: 230px;
   height: 230px;
   margin: 20px 10px 0px;
   background-color: #e3e3e3;  
}


.cases-links .cases-link p {
    padding-top: 45%;
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}


@media screen and (max-width: 375px) {
    
.cases-links h2 {
    margin-top: 65px;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;
}

  }
  


/* project detail*/

.case-vid h2 {
    margin-top: 65px;
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    text-align: center;

}


.case-vid video {
    display: block;
    margin: 0 auto;
    padding: 30px 0;
}

.case-vid article h3{
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 600;
    color: #111;
    text-transform: uppercase;
    padding-bottom: 20px ;
}
 
.case-vid article div p{
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #111;
    text-transform: uppercase;
    column-count: 3;
    column-gap: 30px;
}

/*footer*/


footer {
    background-color: #111;
    margin-top: 20px;
    overflow: hidden ;
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    
}

footer ul li a {
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;

}


.footer-links-cases {
 display: none;
}



.footer-sm {
    width: 50px;
    float: right;
}

.footer-sm img{
    width: 100%;
    margin-bottom: 10px; 
}

@media only screen and (min-width: 1000px){
    .footer-links-cases {
        display: block;
       }

       footer ul li p{
        font-family: Catamaran;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        text-transform: uppercase;
    
    }

    footer ul {
        padding-right: 30px ;
    }
}

/* signup*/

/* Full-width input fields */
input[type=text], input[type=password] input[type=email]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}



/*login styling*/
/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }