/* reset style code */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* beginning of my code */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    background: #fff;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

a {
    color: rgb(55, 5, 237);
    text-decoration: none;
}

.menu{
    list-style-type: none;
}

.logo {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}
.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item{
    display: block;
}

/* responsive navabar tablet*/
@media all and (min-width: 700px){
    nav {
        position:fixed;
        top: 0;
        width: 100%;
    }
    .menu{
        justify-content: center;
    }

    .logo{
        flex: 1;
    }

    .toggle{
        flex: 1;
        text-align: right;
        order: 2;
    }


}


@media all and (min-width: 960px){
    .menu{
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo{
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

}


/*main body*/

.wrapper {
    margin-top: 70px;
}